@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

:root {
  --bg-main: #0f1115;
  --bg-sidebar: #161920;
  --bg-card: #1c202a;
  --border-color: #2a2d35;
  --text-primary: #e1e1e6;
  --text-secondary: #9ca3af;
  --accent-blue: #3b82f6;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
